@charset "UTF-8";

i.icon {
  font-family: FontAwesome;
  font-style: normal;
  display: inline-block; }

body {
  font-size: 18px;
  line-height: 1.75em;
}

body, h1, h2, h3, h4, h5, h6, p, input, textarea {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6, legend {
  color: #315329; }

h1 {
  font-size: 48px;
  line-height: 1.5em; }

h2 {
  font-size: 36px;
  line-height: 1.5em; }

h3, legend {
  font-size: 28px;
  line-height: 1.5em; }

h4 {
  font-size: 22px;
  line-height: 1.5em; }

h5 {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5em;
  margin: 1em 0 0.5em; }

a {
  color: #be943e; }
  a:hover {
    color: #987631; }

p {
  margin-bottom: 1em; }

.button, input[type='submit'], input[type='button'], button {
  border: 0;
  text-decoration: none;
  padding: 0.5em 1em;
  font-weight: inherit;
  color: white;
  background-color: #e5b42f; }
  .button:hover, input[type='submit']:hover, input[type='button']:hover, button:hover {
    color: white;
    background-color: #c89919; }
  .button:active, input[type='submit']:active, input[type='button']:active, button:active {
    background-color: #bf9218; }
  .button.muted, input[type='submit'].muted, input[type='button'].muted, button.muted {
    color: #555;
    background-color: rgba(0, 0, 0, 0.1); }
    .button.muted:hover, input[type='submit'].muted:hover, input[type='button'].muted:hover, button.muted:hover {
      background-color: rgba(0, 0, 0, 0.15); }
    .button.muted:active, input[type='submit'].muted:active, input[type='button'].muted:active, button.muted:active {
      background-color: rgba(0, 0, 0, 0.18); }
  .button:disabled, input[type='submit']:disabled, input[type='button']:disabled, button:disabled {
    background-color: #ebc45c; }

a.button {
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

a.external:after {
  font-family: FontAwesome;
  content: " "; }

.container {
  max-width: 600px;
  min-width: 480px;
  margin: auto; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

@media (max-width: 640px) {
  body > .container {
    margin: 0 20px;
  }
}

.left, .right {
  width: 50%;
  float: left;
  padding-right: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.left {
  clear: left; }

.row:before, .row:after {
  content: " ";
  display: table; }
.row:after {
  clear: both; }

.third {
  width: 33.333333%;
  float: left; }

.hidden {
  display: none; }

header {
  background: #63a953;
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  z-index: 100; }
  header nav a, header nav a:hover, header nav a:visited, header nav a:active {
    text-decoration: none;
    color: white; }
  header nav .logo {
    float: left;
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: 300; }
    header nav .logo a .icon {
      color: #ffc015; }
  header nav .actions {
    float: right;
    line-height: 32px; }
    header nav .actions a {
      margin-left: 1em; }
      header nav .actions a:link {
        background: transparent; }
  header.compact {
    padding: 3px 8px;
    border-bottom-width: 1px; }
    header.compact nav.container {
      width: auto; }

section.content {
  min-height: 400px; }

footer {
  margin: 200px 0 1em;
  text-align: center;
  font-size: 12px; }

.callout {
  text-align: center;
  margin: 50px 0 100px; }
  .callout h1 {
    margin: 1em 0; }
  .callout h2 {
    text-transform: uppercase;
    font-size: 22px; }

.feature {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5em;
  margin: 50px 0 0;
  padding: 50px 0 0;
  border-top: 1px solid #f0f0f0; }
  .feature:before, .feature:after {
    content: " ";
    display: table; }
  .feature:after {
    clear: both; }
  .feature .description {
    width: 50%;
    float: left; }
  .feature .image {
    text-align: center;
    float: right;
    width: 50%;
    font-size: 150px;
    line-height: 1;
    margin-top: 32px;
    color: #63a953; }
  .feature:nth-child(2n + 1) .description {
    float: right; }
  .feature:nth-child(2n + 1) .image {
    float: left; }

